<!doctype html>  
<html lang="es">  
<head>  
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Cosumo de la luz</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
</head>  
<body>  
	<div data-ng-app="myApp" class='container' data-ng-controller='getLoginData'>
	
	
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
		</button>
<a class="navbar-brand" href="/"><img src="img/logo.svg" style="width:50px; margin-top: -7px" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/index.html" data-ng-show="notlogged">Login</a></li>
        <li><a href="/Registro.html" data-ng-show="notlogged">Registro</a></li>
		 <li><a href="/add.html" data-ng-hide="notlogged">Añadir Consumo</a></li>
        <li><a href="/listar.html" data-ng-hide="notlogged">Ver Consumos Almacenados</a></li>
		 <li><a href="/grafico.html" data-ng-hide="notlogged">Ver gráfica</a></li>
        <li><a data-ng-click="logOut()" data-ng-hide="notlogged">LogOut</a></li>
      </ul>
    </div>
  </div>
</nav>		

<div data-ng-hide="notlogged">
		<h3>Revisa tus consumos almacenados</h3>
	
	<div class='table-responsive' data-ng-controller='loadData'>
	<table  class="table table-striped" >
	<thead>
		<th>
		Fecha
		</th>
		<th>
		Consumo
		</th>
		<th>
		Precio
		</th>
		<th>
		Año
		</th>
	</thead>
	<tr ng-repeat="x in consumptions|orderBy:FechaFin">
		<td>
		{{x.endingdate|date:'yyyy-MM-dd'}}
		</td>
		<td>
		{{x.consumption}}
		</td>
		<td>
		{{x.price}}
		</td>
		<td>
		{{x.year}}
		</td>
	</tr>

	</table>
	</div>
	</div>   
</div>

	<script>
	var app = angular.module('myApp', [])
app.controller('getLoginData', function ($scope, $http) {
     
	$scope.logged = false;
	$scope.user;
var loadeduser = JSON.parse(localStorage.getItem('user'));
	
	if (loadeduser == null)
	{
	$scope.notlogged = true;
	}
	else
	{
	$scope.user = loadeduser;
	console.log('Usuario iniciado')
	}
	
	$scope.logOut = function (){
	localStorage.removeItem('user');
		$scope.notlogged = true;
		$scope.user = null;

};
});

app.controller('loadData', function($scope, $http){
	 $http({url:"/listar",
		 method: "POST",
		 headers: {'Content-Type': 'application/json'},
		data:JSON.stringify($scope.user)})
		.success(function(data, status) {
           console.log(data)
		   $scope.consumptions = data;
        })
});
	</script>
</body>  
</html>  	